{
  "extends": [
    "airbnb-base",
    "plugin:jest/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "next"
      }
    ],
    "max-len": [
      2,
      120,
      4
    ],
    "arrow-parens": 0,
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "object-curly-newline": 0
  },
  "plugins": [
    "import",
    "jest"
  ],
  "env": {
    "node": true,
    "jest/globals": true
  }
}
